.header-bar {
    position: fixed;
    display: flex;
    align-items: center;
    background: #222;
    color:#fff;
    min-height:60px;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    padding: 0.6rem 0.8rem;
}
.header-bar-wrapper {
    height:50px;
    position: relative;
}
.header-bar h1 {
    font-size: 1.5rem;
    margin:0;
    padding: 0;
    margin-right: 1rem;
    flex-grow: 1
}
.header-bar__controls {
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
}
.header-bar__controls button {
    margin-left:0.5rem;
}
.document-meta-data {
    position: absolute;
    top:-60px;
    left:0;
    margin-bottom: -50px;
    font-size:1rem;
    font-family: sans-serif;
    text-align: left;
}
.document-meta-data__title {
    font-size:1.25em;
    margin-bottom: 0;
}
.document-meta-data__body {
    font-size:0.75em;
    text-transform: uppercase;
    font-weight: 800
}


.all-filings {
    width: 100%;
}
.page {
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
}
.page p, .page h1 {
    margin-bottom:0;
}

.filing-header__title {
    text-transform: uppercase;
    text-align: center;
    width:100%;
    margin-bottom:2.5rem;
}
.filing-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom:2.5rem;

}
.filing-header__half {
    width:50%;
}
.filing-header__court {
    margin-bottom:2rem;
}
.filing-header__docket-number {
    text-align: left;
    display:inline-block;
}
.filing-title {
    text-align: center;
}

.filing-header__court, .docket-number__division, .docket-number__label {
    text-transform: uppercase;
}
.docket-caption {
    display: flex;
}
.docket-caption__names {
    width: 80%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.docket-caption__label {
    font-style: italic;
}
.docket-caption__party {
    text-transform: uppercase;
}




.footer__company {
    margin:0;
}
.footer__phone {
    margin:0;
}



.filing-title {
    text-decoration: underline;
    text-transform: uppercase;
    font-size:20px;
    text-align:center;
}

.indent {
    text-indent: 3em;
}
.header__title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

}


.page input, .page textarea {
    border: 1px dotted black;
    background-color:#ff9;
    padding:0.5rem;
}
.filing-body p {
    line-height: 1.3;
    margin-bottom: 0.5em;
}
.filing-body__response textarea {
    width:100%;
}
.convictionBox {
    display: flex;
    flex-direction: row;
    margin-left:15px;
}

.labelConviction {
    margin-right:80px !important;
}
.labelConvictionDate {
    margin-right:15px !important;
}

.count-table {
    width:100%;
}
.count-table input{
    width:100%;
}
.count-table th, .count-table td {
    padding: 2px ;
    vertical-align: middle;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.count-table td:first-of-type {
    width:25%;
}
.filing-closing {
    margin-top:4rem;
}
.filing-closing__signature-area {
    display: flex;
    line-height: 1.3;
}
.filing-closing__signature-box {
    border-top: 1.5px solid black;
    width: 65%;
    margin-top:2.5rem;
    padding-top:0.25rem;
}

.filing-closing__date-box {
    border-top: 1.5px solid black;
    margin-left: 35px;
    width: 25%;
    margin-top:2.5rem;
    padding-top:0.25rem;
}



@media screen {
    body {
        
        margin: 0;
    }
    .page {
        max-width: 65rem;
        width:80%;
        min-width:40rem;
        margin: 0;
        padding: 7rem;
        height: 100%;
        border:2px solid #ddd;
        margin-left:auto;
        margin-right:auto;
        margin-top:8rem;
        position: relative;
    }
    .footer,.footer-space {
        display: none;
    }
    .no-visible {
        display:none !important;
    }
    .page:last-of-type {
        margin-bottom:100px;
    }

}


@media print {
    @page { 
        size: letter portrait;
        margin: 0.75in 0.25in 0.375in 0.25in 
    }
    body {
        font-size:18pt;
        line-height: 1.3;
        color: #000;
    }
    
    .page {
        page-break-after: always;
        position: relative;
        padding-left:0.75in;
        padding-right:0.75in;
        padding-top:0.5in;
        height: 100%;
        overflow: visible;

    }
    .page.include-margin-lines {
        margin-left:1.25in;
        padding-left:0.25in;
        padding-right:0.25in;
    }
    .page.include-margin-lines:before {
        height:15in;
        position: absolute;
        border-left:0.01in solid #000;
        content: "";
        left:0;
        top:0.5in;

    }
    .page.include-margin-lines:after {
        height:15in;
        position: absolute;
        border-left:0.01in solid #000;
        content: "";
        right:0;
        top:0.5in;
    }
    .no-print {
        display:none !important;
    }

    .footer, .footer-space {
        height: 100px;
    }
    .footer {
      position: fixed;
      bottom: 0;
      text-align: center;
      width:100%;
      font-size:12pt;
    }

    p, .filing-title, .header__title, td, th {
        font-size: 20pt;
    }
}