<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Petitions</title>
    <link href="../css/filings.css" rel="stylesheet" type="text/css" />
    <script id="script" src="filings.js"></script>   
    <!-- <script id="script" src="components.js"></script> -->
    <script id="script" src="csv.js"></script>
  </head>

  <body id="filing-page">
    <!-- Begin Vue App -->

    <div id="filing-app">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                <span class="modal-title">Attorney / Preparer Name:</span>
                <input
                  class="no-print"
                  v-model="settings['attorney']"
                  placeholder="Attorney Name"
                />
              </p>
              <p>
                <span class="modal-title">Address:</span>
                <textarea
                  class="no-print"
                  v-model="settings['attorneyAddress']"
                  placeholder="Attorney Address"
                ></textarea>
              </p>
              <p>
                <span class="modal-title">Phone:</span>
                <input
                  class="no-print"
                  v-model="settings['attorneyPhone']"
                  placeholder="Attorney Phone Number"
                />
              </p>
              <label class="card-header__select">
                <p>
                  <label class="card-header__select roleSelect">
                    <span class="modal-title">Preparer Role:</span>
                    <select
                      class="form-control form-control-sm"
                      v-model="settings.role"
                      class="selectpicker"
                    >
                      <option value="AttyConsult">
                        Attorney: Consult only with no appearance
                      </option>
                      <option value="AttyAppear">
                        Attorney: Appearance to be entered
                      </option>
                      <option value="AdminAssist">
                        Administrative assistance only
                      </option>
                      <option value="StateAtty">
                        State's Attorney or AG Preparer
                      </option>
                    </select>
                  </label>
                </p>
                <p>
                  <label class="modal-vla-check">
                    <span class="modal-title">VLA Logo & Footer:</span>
                    <input type="checkbox" v-model="settings.forVla" />
                  </label>
                </p>
              </label>
              <div class="custom-footer-block" v-if="!settings.forVla">
                <span class="modal-title">Custom Footer:</span>
                <input
                  class="no-print footer__input"
                  v-model="settings['footer1']"
                  placeholder="- Code for BTV -"
                />
                <input
                  class="no-print footer__input"
                  v-model="settings['footer2']"
                  placeholder="- Code for BTV -"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- If there are filings to dispalay... -->
      <template v-if="(numCountsToExpungeOrSeal + numCountsNoAction) > 0">

        <!-- Page header & page actions -->
        <div v-if="petitioner.name" class="header-bar-wrapper no-print">
          <div class="header-bar">
            <h1>Filings for {{petitioner.name}}</h1>
            <div class="header-bar__controls">
              <div v-if="numDockets > 1">
                <span>Consolidate by county: </span>
                <label>
                  <input type="checkbox" v-model="groupNoas"/>
                  NoA
                </label>
                <label>
                  <input type="checkbox" v-model="groupCounts" />
                  Petitions
                </label>
              </div>
              <button
                v-on:click="printDocument"
                class="btn btn-primary no-print"
              >
                Print All
              </button>
              <button
                v-on:click="exportContent"
                class="btn btn-primary no-print"
              >
                Export to CSV
              </button>
              <a href="manage-counts.html" class="edit-counts btn btn-primary"
                >Add/Edit Counts <i class="fas fa-edit"></i
              ></a>
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                Settings
              </button>
            </div>
          </div>
        </div>

        <filing-nav v-bind:filings="filings"></filing-nav>

        <!-- Cover letter & checkout sheet wrapper -->
        <table class="extra-pages">
          <tbody>
            <tr>
              <td>
                <section class="no-print disclaimer-message">
                  Verify documents below against docket sheet to confirm
                  information is accurate and complete. <br /><a
                    href="disclaimer.html"
                    target="_blank"
                    >Terms and Conditions.</a
                  >
                </section>

                <!-- Begin Cover Sheet -->
                <section class="extra-documents-top" id="extra-documents">
                  
                  <!-- Client Cover Letter -->
                  <article class="page" id="clinic-checkout">
                    <div class="document-meta-data no-print">
                      <p class="document-meta-data__title">Cover Letter</p>
                      <p class="document-meta-data__body">
                        {{numCountsToExpungeOrSeal}} counts to file,
                        {{numCountsNoAction}} counts with no action taken
                      </p>
                    </div>
                    <div class="filing-document">
                      <div class="filing-body">
                        <div class="title petition__title"></div>
                        <div class="from-block">
                          <img
                            v-if="settings.forVla"
                            class="vla-logo"
                            src="../images/VLA_logo-200-97px.png"
                          />
                          <img
                            v-else
                            class="generic-logo"
                            src="../images/icon_128.png"
                          />
                          <div class="atty-block">
                            <p
                              class="filing-closing__petitioner-address"
                              v-html="nl2br(settings['attorney']+'\n'+settings['attorneyAddress'])"
                            ></p>
                          </div>
                        </div>
                        <br />
                        <div class="to-date-block">
                          <div class="to-block">
                            <h1>{{petitioner.name}}</h1>
                            <p>
                              <span
                                class="filing-closing__petitioner-address"
                                v-html="petitioner.address"
                              ></span
                              ><span class="no-visible"
                                ><br />{{responses['phone']}}</span
                              >
                            </p>
                            <p class="no-print">
                              Phone:
                              <input
                                v-model="responses['phone']"
                                placeholder="Petitioner Phone Number"
                              />
                            </p>
                          </div>
                          <p class="date-block">{{todayDate}}</p>
                        </div>

                        <br />
                        <p>
                          <b>&emsp;&emsp;Re: Expungement/Sealing Summary</b>
                        </p>
                        <br />
                        <p>Dear {{petitioner.name}}:</p>
                        <p>
                          Thank you for meeting with me to discuss your legal
                          options for clearing your criminal record. We have
                          prepared the following
                          <span v-if="filings.length > 0">documents</span
                          ><span v-else>document</span> for you today:
                        </p>
                        <ul>
                          <li>Client Checkout Sheet</li>
                          <span
                            v-for="group in filings"
                            v-bind:id="group.county"
                          >
                            <li>
                              {{group.filings | numWithoutNOAs}}
                              <span v-if="group.filings.length > 2"
                                >petitions</span
                              ><span v-else>petition</span> for {{group.county}}
                              County<span
                                v-if="returnCountyContact(group.county) != null && returnCountyContact(group.county) != ''"
                              >
                                ({{returnCountyContact(group.county)}})</span
                              >
                            </li>
                          </span>
                        </ul>
                        <p>
                          The client checkout sheet provides greater detail on
                          the criminal history we reviewed. We only reviewed the
                          information available to us and this may not include
                          your entire history.
                        </p>
                        <textarea
                          class="custom-note no-print"
                          v-model="settings['customNote']"
                          placeholder="Enter custom text"
                        ></textarea>
                        <p
                          class="no-visible"
                          v-html="settings['customNote']"
                        ></p>
                        <p
                          v-if="settings.role == 'AttyConsult'"
                          v-html="roleCoverLetterText['attyConsult']"
                        ></p>
                        <p
                          v-if="settings.role == 'AttyAppear'"
                          v-html="roleCoverLetterText['attyAppear']"
                        ></p>
                        <p
                          v-if="settings.role == 'AdminAssist'"
                          v-html="roleCoverLetterText['adminAssist']"
                        ></p>
                        <p
                          v-if="settings.role == 'StateAtty'"
                          v-html="roleCoverLetterText['stateAssist']"
                        ></p>
                        <p>
                          Please feel free to get in touch if you have any
                          questions.
                        </p>
                        <p>Sincerely,</p>
                        <p>{{settings['attorney']}}</p>
                      </div>
                    </div>
                  </article>

                  <!-- Client Checkout Sheet -->
                  <article class="page" id="client-checkout">
                    <div class="document-meta-data no-print">
                      <p class="document-meta-data__title">Checkout Sheet</p>
                      <p class="document-meta-data__body">
                        {{numCountsToExpungeOrSeal}} counts to file,
                        {{numCountsNoAction}} counts with no action taken
                      </p>
                    </div>
                    <div class="filing-document">
                      <div class="filing__title">Client Checkout Sheet</div>
                      <div class="filing-body">
                        <div class="title petition__title"></div>
                        <div class="client-checkout-header filing-header">
                          <div
                            class="client-checkout-header-left filing-header__half"
                          >
                            {{petitioner.name}}
                            <br />
                            (DOB: {{petitioner.dob | dateFormatSimple}})
                            <br />
                            <span
                              v-if="responses['phone'] !=''"
                              class="filing-closing__phone"
                              >Phone: {{responses['phone']}}
                            </span>
                          </div>
                          <div class="client-checkout-header-right">
                            <p v-if="numCountsStipulated > 0">
                              <span
                                ><i class="fas fa-handshake"></i>&nbsp;</span
                              >
                              <span v-html="stipDef" />
                            </p>
                          </div>
                        </div>
                        <dl>
                          <table class="table summary-table">
                            <col width="300" />
                            <thead class="">
                              <th scope="col">Desc.</th>
                              <th scope="col" colspan="1">Disposition</th>
                              <th scope="col">Docket #</th>
                            </thead>
                            <tbody>
                              <th
                                scope="col"
                                colspan="3"
                                v-if="countsExpungedC.length > 0"
                              >
                                CONVICTION petitions drafted:
                              </th>
                              <tr
                                v-if="countsExpungedC.length > 0"
                                v-bind:key="countsExpungedC + uniqueId + idx"
                                is="checkout-offense-row"
                                v-for="(filing, idx) in countsExpungedC"
                                v-bind:filing="filing"
                              ></tr>
                              <th
                                scope="col"
                                colspan="3"
                                v-if="countsExpungedNC.length > 0"
                              >
                                NON-CONVICTION petitions drafted:
                              </th>
                              <tr
                                v-if="countsExpungedNC.length > 0"
                                v-bind:key="countsExpungedNC + uniqueId + idx"
                                is="checkout-offense-row"
                                v-for="(filing, idx) in countsExpungedNC"
                                v-bind:filing="filing"
                              ></tr>
                              <th
                                scope="col"
                                colspan="3"
                                v-if="countsExpungedNCrim.length > 0"
                              >
                                NON-CRIME petitions drafted:
                              </th>
                              <tr
                                v-if="countsExpungedNCrim.length > 0"
                                v-bind:key="countsExpungedNCrim + uniqueId + idx"
                                is="checkout-offense-row"
                                v-for="(filing, idx) in countsExpungedNCrim"
                                v-bind:filing="filing"
                              ></tr>
                              <th
                                scope="col"
                                colspan="3"
                                v-if="countsSealC.length > 0"
                              >
                                SEALED petitions drafted:
                              </th>
                              <tr
                                v-if="countsSealC.length > 0"
                                v-bind:key="countsSealC + uniqueId + idx"
                                is="checkout-offense-row"
                                v-for="(filing, idx) in countsSealC"
                                v-bind:filing="filing"
                              ></tr>
                              <th
                                scope="col"
                                colspan="3"
                                v-if="countsSealDui.length > 0"
                              >
                                SEALED DUI petitions drafted:
                              </th>
                              <tr
                                v-if="countsSealDui.length > 0"
                                v-bind:key="countsSealDui + uniqueId + idx"
                                is="checkout-offense-row"
                                v-for="(filing, idx) in countsSealDui"
                                v-bind:filing="filing"
                              ></tr>
                              <th
                                scope="col"
                                colspan="3"
                                v-if="ineligible.length > 0"
                              >
                                NO ACTION TAKEN:
                              </th>
                              <tr
                                v-if="ineligible.length > 0"
                                v-bind:key="ineligible + uniqueId + idx"
                                is="checkout-offense-row"
                                v-for="(filing, idx) in ineligible"
                                v-bind:filing="filing"
                              ></tr>
                            </tbody>
                          </table>
                        </dl>
                      </div>
                    </div>
                  </article>

                </section>
                <!-- End Cover Sheet -->

              </td>
            </tr>
          </tbody>
          <tfoot class="footer-space">
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tfoot>
        </table>
        <!-- Cover letter & checkout sheet wrapper -->

        <!-- Petition wrapper -->
        <table v-if="filings.length != 0" class="all-filings">
          <tbody>
            <tr>
              <td>
                <section v-for="group in filings" v-bind:id="group.county">

                  <!-- Generic petition heading info -->
                  <article
                    class="page"
                    v-for="filing in group.filings"
                    v-bind:id="filing.id"
                  >
                    <div class="document-meta-data no-print">
                      <p class="document-meta-data__title">{{filing.title}}</p>
                      <p class="document-meta-data__body">
                        {{group.county}}, {{filing.numCountsString}},
                        {{filing.numDocketsString}}
                      </p>
                    </div>
                    <div class="filing-document">
                      <div class="filing-header">
                        <div class="filing-header__title">State Of Vermont</div>

                        <div class="filing-header__half">
                          <div class="filing-header__court">
                            <p>Superior Court</p>
                            <p>{{filing.county}} Unit</p>
                          </div>
                          <docket-caption
                            v-bind:name="petitioner.name"
                          ></docket-caption>
                        </div>
                        <div class="filing-header__half text-right">
                          <div
                            class="filing-header__docket-number docket-number"
                          >
                            <p class="docket-number__division">
                              Criminal Division
                            </p>

                            <p
                              v-for="docketNum in filing.docketNums"
                              class="docket-number__numbers"
                            >
                              <span class="docket-number__label"
                                >Docket No.&nbsp;</span
                              ><span class="docket-number__number no-visible"
                                >{{docketNum.string}}</span
                              >
                              <input
                                class="no-print"
                                v-model="docketNum.string"
                              />
                            </p>
                          </div>
                        </div>
                      </div>

                      <h1 class="filing-title">{{filing.title}}</h1>
                      <!-- End generic petition heading info -->

                      <!-- Begin Unique Portion of Filings -->

                      <!-- Notice of Appearance -->
                      <div class="filing-body" v-if="filing.type == 'NoA'">
                        <p class="indent">
                          <template v-if="proSeFromRole(settings.role)">
                            NOW COMES {{petitioner.name}} (DOB: {{petitioner.dob
                            | dateFormatSimple}}), appearing
                            <span class="italic">pro se</span>, and hereby
                            enters this notice of appearance in the above
                            captioned action.
                          </template>
                          <template v-else>
                            NOW COMES <span>{{settings['attorney']}}</span>, by
                            and on behalf of {{petitioner.name}} (DOB:
                            {{petitioner.dob | dateFormatSimple}}), and hereby
                            enters this notice of appearance in the above
                            captioned action.
                          </template>
                        </p>
                      </div>

                      <!-- (Stipulated) Petiton To Expunge Conviction -->
                      <div
                        class="filing-body"
                        v-if="filing.type == 'ExC' || filing.type == 'StipExC'"
                      >
                        <p class="indent">
                          NOW COMES {{petitioner.name}} (DOB: {{petitioner.dob |
                          dateFormatSimple}}),
                          <template v-if="proSeFromRole(settings.role)"
                            >appearing <span class="italic">pro se</span>
                          </template>
                          <template v-else>
                            by and through counsel,
                            <span>{{settings['attorney']}}</span> </template
                          >, and hereby moves the Court to expunge the record of
                          the above-captioned conviction<span
                            v-if="filing.multipleCounts"
                            >s</span
                          >
                          pursuant to 13 V.S.A. &sect; 7602.
                        </p>

                        <p>
                          1. Petitioner was convicted of the following
                          crime<span v-if="filing.multipleCounts">s</span>:
                        </p>
                        <table class="count-table">
                          <thead class="count-table__header">
                            <th valign="middle" scope="col">Conviction Date</th>
                            <th valign="middle" colspan="2" scope="col">
                              Offense Description
                            </th>
                          </thead>
                          <tbody class="count-table__body">
                            <tr
                              class="count-item"
                              v-for="count in filing.counts"
                            >
                              <td class="count-item__date">
                                <span class="no-visible"
                                  >{{count.dispositionDate |
                                  dateFormatSimple}}</span
                                >
                                <input
                                  type="date"
                                  class="no-print"
                                  v-model="count.dispositionDate"
                                />
                              </td>
                              <td class="count-item__description">
                                <span class="no-visible"
                                  >{{count.description}} ({{count.docketNum}}
                                  {{count.county | toCountyCode}})</span
                                >
                                <textarea
                                  rows="1"
                                  class="no-print count-item__textarea"
                                  v-model="count.description"
                                ></textarea>
                              </td>
                              <td class="no-print">
                                {{count.docketNum}} {{count.county |
                                toCountyCode}}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <p>
                          2. <span v-if="filing.multipleCounts">These are</span
                          ><span v-else>This is a</span> qualifying crime<span
                            v-if="filing.multipleCounts"
                            >s</span
                          >
                          pursuant to 13 V.S.A. &sect; 7601(4).
                        </p>
                        <p>
                          <span v-if="!filing.isStipulated"
                            >3. Petitioner completed the terms and conditions of
                            their sentence over 5 years ago, and paid all
                            restitution owed.</span
                          >
                        </p>
                        <p>
                          <span v-if="!filing.isStipulated">4.</span
                          ><span v-else>3. </span> Expunging all record of
                          <span v-if="filing.multipleCounts"
                            >these convictions</span
                          ><span v-else>this conviction</span> is in the
                          interest of justice because:
                        </p>
                      </div>

                      <!-- (Stipulated) Petiton To Expunge Non Conviction -->
                      <div
                        class="filing-body"
                        v-if="filing.type == 'ExNC' || filing.type == 'StipExNC'"
                      >
                        <p class="indent">
                          NOW COMES {{petitioner.name}} (DOB: {{petitioner.dob |
                          dateFormatSimple}}),
                          <template v-if="proSeFromRole(settings.role)"
                            >appearing <span class="italic">pro se</span>
                          </template>
                          <template v-else>
                            by and through counsel,
                            <span>{{settings['attorney']}}</span> </template
                          >, and hereby moves the Court to expunge the record of
                          the following charge<span v-if="filing.multipleCounts"
                            >s</span
                          >
                          pursuant to 13 V.S.A. &sect; 7603.
                        </p>
                        <p>
                          1. Petitioner was charged but never convicted of the
                          following crime<span v-if="filing.multipleCounts"
                            >s</span
                          >:
                        </p>
                        <table class="count-table">
                          <thead class="count-table__header">
                            <th valign="middle" scope="col">
                              Date of Dismissal
                            </th>
                            <th colspan="2" valign="middle" scope="col">
                              Charge<span v-if="filing.multipleCounts">s</span>
                            </th>
                          </thead>
                          <tbody class="count-table__body">
                            <tr
                              class="count-item"
                              v-for="count in filing.counts"
                            >
                              <td class="count-item__date">
                                <span class="no-visible"
                                  >{{count.dispositionDate |
                                  dateFormatSimple}}</span
                                >
                                <input
                                  type="date"
                                  class="no-print"
                                  v-model="count.dispositionDate"
                                />
                              </td>
                              <td class="count-item__description">
                                <span class="no-visible"
                                  >{{count.description}} ({{count.docketNum}}
                                  {{count.county | toCountyCode}})</span
                                >
                                <textarea
                                  rows="1"
                                  class="no-print count-item__textarea"
                                  v-model="count.description"
                                ></textarea>
                              </td>
                              <td class="no-print">
                                {{count.docketNum}} {{count.county |
                                toCountyCode}}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <p>
                          2.
                          <span v-if="filing.multipleCounts"
                            >All dismissed charges</span
                          ><span v-else>This charge is</span> eligible for
                          expungement pursuant to 13 V.S.A. &sect; 7603.
                        </p>

                        <p>
                          3. Expunging all record of
                          <span v-if="filing.multipleCounts"
                            >these dismissed charges</span
                          ><span v-else>this dismissed charge</span> serves the
                          interest of justice, as
                        </p>
                      </div>

                      <!-- (Stipulated) Petiton To Expunge Non-Crime -->
                      <div
                        class="filing-body"
                        v-if="filing.type == 'ExNCrim' || filing.type == 'StipExNCrim'"
                      >
                        <p class="indent">
                          NOW COMES {{petitioner.name}} (DOB: {{petitioner.dob |
                          dateFormatSimple}}),
                          <template v-if="proSeFromRole(settings.role)"
                            >appearing <span class="italic">pro se</span>
                          </template>
                          <template v-else>
                            by and through counsel,
                            <span>{{settings['attorney']}}</span> </template
                          >, and hereby moves the Court to expunge the record of
                          the following
                          <span v-if="filing.multipleCounts">charges</span
                          ><span v-else>charge</span> pursuant to 13 V.S.A.
                          &sect; 7602(a)(1)(B).
                        </p>
                        <p>
                          1. Petitioner was convicted of the following
                          <span v-if="filing.multipleCounts">crimes</span
                          ><span v-else>crime</span>:
                        </p>
                        <table class="count-table">
                          <thead class="count-table__header">
                            <th valign="middle" scope="col">Conviction Date</th>
                            <th colspan="2" valign="middle" scope="col">
                              Charge<span v-if="filing.multipleCounts">s</span>
                            </th>
                          </thead>
                          <tbody class="count-table__body">
                            <tr
                              class="count-item"
                              v-for="count in filing.counts"
                            >
                              <td class="count-item__date">
                                <span class="no-visible"
                                  >{{count.dispositionDate |
                                  dateFormatSimple}}</span
                                >
                                <input
                                  type="date"
                                  class="no-print"
                                  v-model="count.dispositionDate"
                                />
                              </td>
                              <td class="count-item__description">
                                <span class="no-visible"
                                  >{{count.description}} ({{count.docketNum}}
                                  {{count.county | toCountyCode}})</span
                                >
                                <textarea
                                  rows="1"
                                  class="no-print count-item__textarea"
                                  v-model="count.description"
                                ></textarea>
                              </td>
                              <td class="no-print">
                                {{count.docketNum}} {{count.county |
                                toCountyCode}}
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <p>
                          2. The underlying conduct of
                          <span v-if="filing.multipleCounts"
                            >these offenses</span
                          ><span v-else>this offense</span> is no longer
                          prohibited by law or designated as a criminal offense.
                        </p>
                        <p>
                          3. Expunging all record of this conviction serves the
                          interest of justice.
                        </p>
                      </div>

                      <!-- (Stipulated) Petiton To Seal Conviction -->
                      <div
                        class="filing-body"
                        v-if="filing.type == 'SC' || filing.type == 'StipSC'"
                      >
                        <p class="indent">
                          NOW COMES {{petitioner.name}} (DOB: {{petitioner.dob |
                          dateFormatSimple}}),
                          <template v-if="proSeFromRole(settings.role)"
                            >appearing <span class="italic">pro se</span>
                          </template>
                          <template v-else>
                            by and through counsel,
                            <span>{{settings['attorney']}}</span> </template
                          >, and hereby moves the Court to seal the record of
                          the above-captioned conviction
                          <span v-if="filing.multipleCounts">s</span> pursuant
                          to 33 V.S.A. &sect; 5119(g).
                        </p>
                        <p>
                          1. Petitioner was convicted of the following
                          crime<span v-if="filing.multipleCounts">s</span>:
                        </p>
                        <table class="count-table">
                          <thead class="count-table__header">
                            <th valign="middle" scope="col">Conviction Date</th>
                            <th valign="middle" colspan="2" scope="col">
                              Offense Description
                            </th>
                          </thead>
                          <tbody class="count-table__body">
                            <tr
                              class="count-item"
                              v-for="count in filing.counts"
                            >
                              <td class="count-item__date">
                                <span class="no-visible"
                                  >{{count.dispositionDate |
                                  dateFormatSimple}}</span
                                >
                                <input
                                  type="date"
                                  class="no-print"
                                  v-model="count.dispositionDate"
                                />
                              </td>
                              <td class="count-item__description">
                                <span class="no-visible"
                                  >{{count.description}} ({{count.docketNum}}
                                  {{count.county | toCountyCode}})</span
                                >
                                <textarea
                                  rows="1"
                                  class="no-print count-item__textarea"
                                  v-model="count.description"
                                ></textarea>
                              </td>
                              <td class="no-print">
                                {{count.docketNum}} {{count.county |
                                toCountyCode}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>
                          2. Petitioner was under 21 when the crime<span
                            v-if="filing.multipleCounts"
                            >s were</span
                          ><span v-else> was</span> allegedly committed.
                        </p>

                        <p>
                          3. Petitioner was not later convicted of a listed
                          crime, pursuant to 13 V.S.A. &sect; 5301(7), nor is
                          petitioner currently being charged of such an offense.
                        </p>
                        <p>
                          4. Petitioner believes the court will find that they
                          have been rehabilitated, as evidenced by the
                          following:
                        </p>
                      </div>

                      <!-- (Stipulated) Petiton To Seal DUI Conviction -->
                      <div
                        class="filing-body"
                        v-if="filing.type == 'SDui' || filing.type == 'StipSDui'"
                      >
                        <p class="indent">
                          NOW COMES {{petitioner.name}} (DOB: {{petitioner.dob
                          }}),
                          <template v-if="proSeFromRole(settings.role)"
                            >appearing <span class="italic">pro se</span>
                          </template>
                          <template v-else>
                            by and through counsel,
                            <span>{{settings['attorney']}}</span> </template
                          >, and hereby moves the Court to seal the record of
                          the above-captioned conviction
                          <span v-if="filing.multipleCounts">s</span> pursuant
                          to 13 V.S.A. &sect; 7602(a)(1)(C).
                        </p>
                        <p>
                          1. Petitioner was convicted of the following
                          crime<span v-if="filing.multipleCounts">s</span>:
                        </p>
                        <table class="count-table">
                          <thead class="count-table__header">
                            <th valign="middle" scope="col">Conviction Date</th>
                            <th valign="middle" colspan="2" scope="col">
                              Offense Description
                            </th>
                          </thead>
                          <tbody class="count-table__body">
                            <tr
                              class="count-item"
                              v-for="count in filing.counts"
                            >
                              <td class="count-item__date">
                                <span class="no-visible"
                                  >{{count.dispositionDate |
                                  dateFormatSimple}}</span
                                >
                                <input
                                  type="date"
                                  class="no-print"
                                  v-model="count.dispositionDate"
                                />
                              </td>
                              <td class="count-item__description">
                                <span class="no-visible"
                                  >{{count.description}} ({{count.docketNum}}
                                  {{count.county | toCountyCode}})</span
                                >
                                <textarea
                                  rows="1"
                                  class="no-print count-item__textarea"
                                  v-model="count.description"
                                ></textarea>
                              </td>
                              <td class="no-print">
                                {{count.docketNum}} {{count.county |
                                toCountyCode}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>
                          2. At least 10 years have elapsed since the date
                          petitioner successfully completed their sentence.
                        </p>

                        <p>
                          3. This conviction is the only violation of 23 V.S.A.
                          &sect; 1201 that petitioner has on their record, and
                          petitioner has not been convicted of any new crime
                          since they were convicted of this offense.
                        </p>
                        <p>
                          4. All restitution ordered here has been paid in full.
                        </p>
                        <p>
                          5. Sealing this record serves the interest of justice,
                          as
                        </p>
                      </div>
                      <!-- End Unique Portion of Filings -->

                      <template v-if="filing.type != 'NoA'">
                        <div class="filing-body__response">
                          <p
                            class="no-visible"
                            v-html="nl2br(responses[filing.id])"
                          ></p>
                          <textarea
                            class="no-print"
                            v-model="responses[filing.id]"
                            placeholder="Type here..."
                          ></textarea>
                        </div>
                      </template>

                      <!-- Begin generic footer -->
                      <template v-if="filing.type != 'NoA'">
                        <div class="filing-closing">
                            <p class="filing-closing__salutation">
                                Respectfully requested,
                            </p>
                            <div class="filing-closing__signature-area">
                                <div class="filing-closing__signature-box">

                                    <template v-if="proSeFromRole(settings.role)">

                                        <p class="filing-closing__name">{{petitioner.name}}, Petitioner</p>
                                        <p class="filing-closing__petitioner-address" v-html="petitioner.address"></p>

                                    </template>
                                    <template v-else>
                                        <p class="filing-closing__name">
                                            <span>{{settings['attorney']}}</span>
                                        </p>

                                        <p class= "filing-closing__petitioner-address" v-html="nl2br(settings['attorneyAddress'])"></p>
                                    </template>

                                </div>
                                <div class="filing-closing__date-box">
                                    <p>Date</p>
                                </div>
                            </div>

                            <filing-footer v-bind:type="filing.type" v-bind:stipulated="filing.isStipulated"></filing-footer>
                        </div>
                    </template>
                    <template v-if="filing.type == 'NoA'">
                        <div class="filing-closing">
                            <filing-dated-city v-if="!proSeFromRole(settings.role)"></filing-dated-city>
                            <div class="filing-closing__signature-area filing-closing--align-right">
                                <div class="filing-closing__signature-box">
                                    <template v-if="proSeFromRole(settings.role)">
                                        <p class="filing-closing__name">{{petitioner.name}}, Petitioner
                                        </p>
                                        <div class="filing-closing__contact-box">
                                            <p class="filing-closing__contact-box-title bold">
                                                Petitioner's Address &amp; Phone Number:</p>
                                            <p class="filing-closing__petitioner-address" v-html="petitioner.address"></p>
                                            <p class="filing-closing__phone">Phone: <span class="no-visible">{{responses['phone']}}</span>
                                                <input class="no-print" v-model="responses['phone']" placeholder="Petitioner Phone Number">
                                            </p>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <p class="filing-closing__name">
                                            <span>{{settings['attorney']}}</span>
                                        </p>
                                        <div class="filing-closing__contact-box">
                                            <p class="filing-closing__contact-box-title bold">
                                                Attorney's Address &amp; Phone Number:</p>
                                            <p class=  "filing-closing__petitioner-address" v-html="nl2br(settings['attorney']+'\n'+settings['attorneyAddress']+'\n'+settings['attorneyPhone'])"></p>
                                        </div>
                                    </template>
                                </div>
                                <div v-if="proSeFromRole(settings.role)" class="filing-closing__date-area-prose">
                                  Date
                                </div>
                            </div>
                    </template>
                    <!-- End generic footer -->

                    </div>
                  </article>

                  <article class="spacer-page no-visible"></article>
                </section>
              </td>
            </tr>
          </tbody>
          <tfoot class="footer-space">
            <tr>
              <td>
                <p class="footer-space__vertical-spacer">&nbsp;</p>
              </td>
            </tr>
          </tfoot>
        </table>
        <!-- End petition wrapper -->

        <div v-if="settings.forVla" class="footer">
          <p class="footer__company">Vermont Legal Aid, Inc.</p>
          <p class="footer__phone">(800) 889-2047</p>
        </div>
        <div v-else class="footer">
          <p class="footer__company">{{settings['footer1']}}</p>
          <p class="footer__phone">{{settings['footer2']}}</p>
        </div>
      </template>

      <!-- else show default "no filings" display -->
      <template v-else>
        <div class="no-filings">
          <p>
            There are no filings to prepare.
            <span v-if="numCountsNoAction > 0"
              >Please open the ExpungeVT extension window and select a filing
              type for at least one of the loaded counts.</span
            ><span v-else
              >Please navigate to
              <a href="https://secure.vermont.gov/vtcdas/user"
                >VT Courts Online</a
              >
              and open the Expunge VT extension to begin a new session.</span
            >
          </p>
        </div>
      </template>
    </div>
    <!-- End Vue App -->
 
  </body>
</html>
