/* Helpers */

.indent {
    text-indent: 2em;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

a.btn {
  margin-left:8px;
}

/* No filings message */

.no-filings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:300px;
    text-align: center;
    padding:4rem;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding:4rem;
    max-width:800px;
    margin:auto;
}
.disclaimer-message {
        max-width: 65rem;
        width:70%;
        min-width:50rem;
        height: 100%;
        margin-left:17rem;
        margin-right:auto;
        margin-top:2rem;
        position: relative;
        padding:1.5rem;
        background-color:#eee;
}

/* reset page font sizes */
.page p, .page h1 {
    margin-bottom:0;
    font-size:20px;
}

/* Fixed position header bar */

.header-bar {
    position: fixed;
    display: flex;
    align-items: center;
    background: #222;
    color:#fff;
    min-height:60px;
    top:0;
    left:0;
    right:0;
    z-index: 10;
    padding: 0.6rem 0.8rem;
}
.header-bar-wrapper {
    height:50px;
    position: relative;
}
.header-bar h1 {
    font-size: 1.5rem;
    margin:0;
    padding: 0;
    margin-right: 1rem;
    flex-grow: 1
}
.header-bar__controls {
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.header-bar__controls label {
    margin:0;
    margin-left:0.75rem;
}
.header-bar__controls button {
    margin-left:0.5rem;
}

/* Sidebar Nav */

.filing-nav {
    position: fixed;
    top:60px;
    height: calc(100vh - 60px);
    left:0;
    padding:1rem;
    z-index: 9;
    background-color:#fff;
    width:15em;
    overflow-y:scroll;
    padding-top:40px;
}
.filing-nav ol {
    padding:0;
    padding-left:0.25rem;
}
.filing-nav__parent-link {
    font-weight: bold;
    color:#000;
    font-size: 1rem;
    list-style:none;
}
.filing-nav__parent-link a {
    color:#000;
}
.filing-nav__child-link {
    font-weight: normal;
    transition:box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    color:#007bff;
    font-size: 1rem;
    margin-left:0;
    padding-left:10px;

}
.filing-nav__child-link a {
       color:#007bff;
       line-height: 0.9em;
}
.active.filing-nav__child-link {
    box-shadow: -5px 0 0 0 #007bff;
    transform:translateX(5px);
}
.filing-nav__counts {
    color:#000;
    text-transform: uppercase;
    font-size:12px;
    font-weight: bold;
    padding-top:0.4rem;

}

/* Title section above each document */

.document-meta-data {
    position: absolute;
    top:-60px;
    left:0;
    margin-bottom: -50px;
    font-size:1rem;
    font-family: sans-serif;
    text-align: left;
}
p.document-meta-data__title {
    font-size:1.25rem;
    margin-bottom: 0;
}
p.document-meta-data__body {
    font-size:0.75rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size:14px;

}

/* Formatting for page elements Print & Screen */

.page {
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
}

.filing-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom:2rem;
}

.filing-header__title {
    text-transform: uppercase;
    text-align: center;
    width:100%;
    margin-top:0.25rem;
    margin-bottom:0.20rem;
}

.filing-header__half {
    width:50%;
}
.filing-header__court {
    margin-bottom:0.5rem;
}


.docket-number__label {
    opacity:0;
}
.docket-number__numbers:nth-of-type(2) .docket-number__label{
    opacity:1;
}
.docket-caption {
    display: flex;
    border-right: 1px solid black;
}
.docket-caption__names {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.docket-caption__label {
    font-style: italic;
}
.docket-caption__party {
    text-transform: uppercase;
}

.filing-header__docket-number {
    text-align: right;
    display:inline-block;
}

.filing-header__court, .docket-number__division, .docket-number__label {
    text-transform: uppercase;
}
.docket-number input {
    max-width:11rem;
    width:50%;
    min-width:9rem;
}

.page .filing-title, .page .filing__title, .page .petition__title {
    text-decoration: underline;
    text-transform: uppercase;
    text-align:center;
    margin-bottom:1.5rem;
}

.filing-body p {
    line-height: 1.3;
    margin-bottom: 0.5em;
}
.filing-body__response textarea {
    width:100%;
}

.from-block, .to-date-block {
    display: flex;
    flex-direction: row;
}

.generic-logo {
    width: 8.5%;
    height: 8.5%;
    margin-right: 35px;
}

.vla-logo  {
    width: auto;
    height: 8.5%;
    margin-right: 35px;
    min-height: 50px;
}

.to-date-block {
    width: 100%;
}
.to-block {
    width: 70%;
}
.date-block {
    text-align: right;
    width: 30%;
}

.count-table__header {
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
.count-table {
    width:100%;
    margin-bottom:1.5rem;
}
.count-table input{
    width:100%;
}
.count-table th, .count-table td {
    padding: 3px ;
    vertical-align: middle;
    text-align: center;
}
.count-table td {
    margin-top:4px;
}
.count-table td:first-of-type {
    width:33%;
}
.count-table__body .count-item {
    border-top:1px solid #999;
    line-height:1.2em;

}
.filing-closing {
    margin-top:1.5rem;
}
.filing-closing.filing-closing--align-right {
    display: flex;
    justify-content: flex-end
}
.filing-closing__signature-area {
    display: flex;
    line-height: 1.3;
}
.filing-closing__signature-box {
    border-top: 1.5px solid black;
    width: 65%;
    margin-top:2.5rem;
    padding-top:0.25rem;
}

.filing-closing__date-box {
    border-top: 1.5px solid black;
    margin-left: 35px;
    width: 25%;
    margin-top:2.5rem;
    padding-top:0.25rem;
}
.filing-closing__contact-box {
    margin-top:2rem;
}
.filing-closing__phone {
    margin-top:1rem;
}

.stipulated-closing {
    margin-top:1.5rem;
}
p.filing-dated-city {
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}
/* Use this with a span full of non-breaking spaces to give it a solid fill-in underline */
.fill-in {
    opacity: 1;
    position: relative;
    border-bottom: 1.5px solid #000;
}

/* CHeckout sheet */
.client-checkout-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.client-checkout-header-left {
    width: 40%;
    margin-right: 10px;
}
.client-checkout-header-right {
    width: 55%;
}

.pro-se {
    outline: 2px solid black;
    font-size: 18px !important;
    padding: 3px;
}

.county-header {
    border-top: 3px solid black;
    /*border-bottom: 1px solid black;*/
    margin-bottom: 3px;
}

.atty-note-box {
    border-bottom: 1px solid black;
}

.client-text {
    width: 80% !important;
}

.summary-table td {
    padding: 3px !important;
}

.summary-table .count-row {
    counter-increment: rowNumber;
}

.summary-table .count-row td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.footer__input {
    width: 100%;
    text-align: center;
}
.date-list  {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.pill {
    text-align: center;
    width: 150px;
    font-size:0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}
.pill.pill--rounded {
    border-radius: 500px;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    padding: 0px 5px 0px 5px;
}

.pill.pill--outline-black {
    border: 1px solid #555;
    color: #555;
    background-color: transparent;
}

@media screen {
    body {
        margin: 0;
    }
    .page {
        max-width: 65rem;
        width:70%;
        min-width:50rem;
        padding: 6rem;
        height: 100%;
        border:2px solid #ddd;
        margin-left:17rem;
        margin-right:auto;
        margin-top:8rem;
        position: relative;
        min-height:50rem;
    }
    .footer,.footer-space {
        display: none;
    }
    .no-visible {
        display:none !important;
    }
    .page:last-of-type {
        margin-bottom:100px;
    }
    .all-filings,.extra-pages {
        width: 100%;
        min-width:70rem;
    }

    /* Styles UI Inputs */
    .page input, .page textarea {
        border: 1px dotted black;
        background-color:#ffb;
        padding:0.25rem;
    }
    .count-item__textarea {
    width: 100%;
    height:2.15rem;
    margin-bottom:-2px;
    margin-top:3px;
}


}

@media print {
    @page { 
        size: letter portrait;
        margin: 1in 0.25in 0.75in 0.25in;
    }
    body {
        line-height: 1.3;
        color: #000;
        width:8.5in;
    }
    .no-print {
        display:none !important;
    }
    .page {
        page-break-after: always !important;
        position: relative;
        overflow: visible;
        background:#fff;
        margin:0;
        padding-left:0.25in;
        padding-right:0.25in;

    }
    .count-table + p {
        padding-top:0.5rem;
    }
    .spacer-page {
        height:0;
        margin-bottom:-0.25in;
    }

    .all-filings {
        width:93%;
        border-left:0.01in solid #000;
        border-right:0.01in solid #000;
        margin-left:15%;
    }
    .extra-pages {
        box-sizing: border-box;
        width:100%;
        margin-left:0.75in;
        margin-right:0.75in;
        page-break-after: always;
    }

    .footer-space__vertical-spacer {
        min-height:50px;
    }
    .footer {
        position: fixed;
        bottom: 0;
        text-align: center;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-bottom:0.2in solid #fff;
        margin-bottom:-0.1in;
        height: 100px;

    }
    .footer__company {
        margin:0;
        margin-bottom:0.25em;
    }
    .footer__phone {
        margin:0;
    }

    .count-table {
        page-break-inside:auto;
    }
    .count-table tr {
        page-break-inside:auto; page-break-after:auto;
    }
    .filing-closing {
        page-break-inside:avoid; page-break-after:auto;

    }
    .filing-body__response {
        page-break-inside:auto;
    }
    .filing-closing__signature-box, .filing-closing__date-box {
         margin-top:0.5in;
    }

    /* Font Size Adjustments */
    body {
        font-size:19pt;

    }
    .page, p, .page .filing-title, .page .header__title, td, th {
        font-size: 19pt;
    }
    .page p, .page h1 {
        font-size:19pt;
    }
    .footer {
        font-size:14pt;
        line-height: 1.2em;
        font-family: 'Times New Roman', Times, serif;

    }

}


/* cover letter */
.custom-note {
    width: 100%;
    height: auto;
}
.atty-block {
    width: 100%;
    padding-top: 15px;
}
.atty-block input, .atty-block textarea{
    width: 100%;
}

/*manage-counts page*/
.edit-count {
  border:1px solid #ddd;
  padding:30px;
  border-radius: 5px;
  position: relative;
}
.edit-count__title {
  max-width:60%;
  overflow-wrap: break-word;
}

/* MODAL SETTINGS */
.modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal-body textarea, .modal-body input, .modal-body .card-header__select{
    width: 100%;
}

.modal-title {
    font-weight: bolder;
}
.roleSelect{
    width: 100%;
    color: #222;
}
.modal-vla-check {
    display: flex;
    flex-direction: row; 
}
.modal-vla-title {
    width: 100%;
}
.modal-vla-check input {
    width: 20%;
    width: 1.2em;
    height: 1.2em;
    margin-left: 20px;
}